---
import DashboardLayout from '../../layouts/DashboardLayout.astro';
---

<DashboardLayout
  title="Exercise Parameters Chart"
  iframeSrc="/exercise-immunology/lecture-1/exercise_immunity_chart.html"
>
<a href="/exercise-immunology/lectures/lecture-1">
  ← Lecture 1: Essential Components of the Immune System
</a>
</DashboardLayout>